<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body class="<%= theme %>" data-theme="<%= theme %>" data-master="<%= masterb64 %>">
        <div class="welcome">
            <form class="form form-gateway" method="post" action="/gateway">
                <div class="welcome-hero">
                    <div class="welcome-hero-mark">
                        <% if (theme === "ldj") { %>
                            <img class="logo" src="/static/images/logo.svg" />
                        <% } else { %>
                            <span class="logo">Signatur</span>
                        <% } %>
                    </div>
                    <div class="welcome-hero-eyebrow">Gateway</div>
                    <div class="welcome-hero-divider"></div>
                </div>
                <div class="welcome-catalog">
                    <div class="gateway-container">
                        <div class="settings-group">
                            <div class="settings-group-label">Responsible</div>
                            <input class="input" type="text" name="responsible"
                                   value="<%= config.responsible ? config.responsible : '' %>" />
                        </div>
                        <div class="gateway-row">
                            <div class="settings-group">
                                <div class="settings-group-label">Order No.</div>
                                <input class="input" type="text" name="orderno"
                                       value="<%= config.orderno ? config.orderno : '' %>" />
                            </div>
                            <div class="settings-group">
                                <div class="settings-group-label">Size</div>
                                <input class="input" type="text" name="size"
                                       value="<%= config.size ? config.size : '' %>" />
                            </div>
                        </div>
                        <div class="settings-group">
                            <div class="settings-group-label">Observations</div>
                            <input class="input" type="text" name="observations"
                                   value="<%= config.observations ? config.observations : '' %>" />
                        </div>
                        <% if (showOptions) { %>
                            <div class="settings-group">
                                <div class="settings-group-label">Technology</div>
                                <div class="option-chips" id="technology-options">
                                    <input class="option-chip-input" type="radio" id="technology-diamond" name="technology" value="diamond"
                                        <%= !config.technology || config.technology === "diamond" ? "checked" : '' %>>
                                    <label class="option-chip" for="technology-diamond">Diamond</label>
                                    <input class="option-chip-input" type="radio" id="technology-laser" name="technology" value="laser"
                                        <%= config.technology === "laser" ? "checked" : '' %>>
                                    <label class="option-chip" for="technology-laser">Laser</label>
                                    <input class="option-chip-input" type="radio" id="technology-fresa" name="technology" value="fresa"
                                        <%= config.technology === "fresa" ? "checked" : '' %>>
                                    <label class="option-chip" for="technology-fresa">Fresa</label>
                                    <input class="option-chip-input" type="radio" id="technology-pantograph" name="technology" value="pantograph"
                                        <%= config.technology === "pantograph" ? "checked" : '' %>>
                                    <label class="option-chip" for="technology-pantograph">Pantograph</label>
                                </div>
                            </div>
                            <div class="settings-group">
                                <div class="settings-group-label">Elements</div>
                                <div class="option-chips" id="elements-options">
                                    <input class="option-chip-input" type="radio" id="elements-text" name="elements" value="text"
                                        <%= !config.elements || config.elements === "text" ? "checked" : '' %>>
                                    <label class="option-chip" for="elements-text">Text</label>
                                    <input class="option-chip-input" type="radio" id="elements-calligraphy" name="elements" value="calligraphy"
                                        <%= config.elements === "calligraphy" ? "checked" : '' %>>
                                    <label class="option-chip" for="elements-calligraphy">Calligraphy</label>
                                    <input class="option-chip-input" type="radio" id="elements-digital-printing" name="elements" value="digital_printing"
                                        <%= config.elements === "digital_printing" ? "checked" : '' %>>
                                    <label class="option-chip" for="elements-digital-printing">Dig. print</label>
                                    <input class="option-chip-input" type="radio" id="elements-graphic-element" name="elements" value="graphic_element"
                                        <%= config.elements === "graphic_element" ? "checked" : '' %>>
                                    <label class="option-chip" for="elements-graphic-element">Graphic element</label>
                                </div>
                            </div>
                            <div class="settings-group">
                                <div class="settings-group-label">Location</div>
                                <div class="option-chips" id="location-options">
                                    <input class="option-chip-input" type="radio" id="location-interior" name="location" value="interior"
                                        <%= !config.location || config.location === "interior" ? "checked" : '' %>>
                                    <label class="option-chip" for="location-interior">Interior</label>
                                    <input class="option-chip-input" type="radio" id="location-exterior" name="location" value="exterior"
                                        <%= config.location === "exterior" ? "checked" : '' %>>
                                    <label class="option-chip" for="location-exterior">Exterior</label>
                                </div>
                            </div>
                        <% } else { %>
                            <input type="hidden" name="technology" value="<%= config.technology ? config.technology : 'diamond' %>" />
                            <input type="hidden" name="elements" value="<%= config.elements ? config.elements : 'text' %>" />
                            <input type="hidden" name="location" value="<%= config.location ? config.location : 'interior' %>" />
                        <% } %>
                        <input type="hidden" name="entry" value="gateway" />
                    </div>
                </div>
                <div class="welcome-action-bar">
                    <div class="welcome-options"></div>
                    <div class="welcome-actions">
                        <a class="button button-ghost button-settings" href="/settings">Settings</a>
                        <button type="submit" class="button button-start">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
