<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body class="<%= theme %>" data-theme="<%= theme %>" data-master="<%= masterb64 %>">
        <div class="gateway">
            <form class="form form-gateway" method="post" action="/gateway">
                <div class="logo-container">
                    <% if (theme === "ldj") { %>
                        <img class="logo" src="/static/images/logo.svg" />
                    <% } else { %>
                        <span class="logo">Entrada</span>
                    <% } %>
                </div>
                <div class="field field-text">
                    <label class="name">Responsável</label>
                    <div class="value">
                        <input class="input" type="text" name="responsible"
                               value="<%= config.responsible ? config.responsible : '' %>" />
                    </div>
                </div>
                <div class="field field-text field-half first">
                    <label class="name">Nr. Encomenda</label>
                    <div class="value">
                        <input class="input" type="text" name="orderno"
                               value="<%= config.orderno ? config.orderno : '' %>" />
                    </div>
                </div>
                <div class="field field-text field-half second">
                    <label class="name">Tamanho</label>
                    <div class="value">
                        <input class="input" type="text" name="size"
                               value="<%= config.size ? config.size : '' %>" />
                    </div>
                </div>
                <div class="field field-text">
                    <label class="name">Observações</label>
                    <div class="value">
                        <input class="input" type="text" name="observations"
                               value="<%= config.observations ? config.observations : '' %>" />
                    </div>
                </div>
                <div class="field">
                    <label class="name">Tecnologia</label>
                    <div class="value" id="technology">
                        <input class="radio" type="radio" id="diamond" name="technology" value="diamond"
                            <%= config.technology === "diamond" ? "checked" : '' %>>
                        <label class="radio-label" for="diamond">Diamante</label>
                        <input class="radio" type="radio" id="laser" name="technology" value="laser"
                            <%= config.technology === "laser" ? "checked" : '' %>>
                        <label class="radio-label" for="laser">Laser</label>
                        <input class="radio" type="radio" id="fresa" name="technology" value="fresa"
                            <%= config.technology === "fresa" ? "checked" : '' %>>
                        <label class="radio-label" for="fresa">Fresa</label>
                        <input class="radio" type="radio" id="pantograph" name="technology" value="pantograph"
                            <%= config.technology === "pantograph" ? "checked" : '' %>>
                        <label class="radio-label" for="pantograph">Pantógrafo</label>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Elementos</label>
                    <div class="value" id="elements">
                        <input class="radio" type="radio" id="text" name="elements" value="text"
                            <%= config.elements === "text" ? "checked" : '' %>>
                        <label class="radio-label" for="text">Texto</label>
                        <input class="radio" type="radio" id="calligraphy" name="elements" value="calligraphy"
                            <%= config.elements === "calligraphy" ? "checked" : '' %>>
                        <label class="radio-label" for="calligraphy">Caligrafia</label>
                        <input class="radio" type="radio" id="digital-printing" name="elements" value="digital_printing"
                            <%= config.elements === "digital_printing" ? "checked" : '' %>>
                        <label class="radio-label" for="digital-printing">Impr. digital</label>
                        <input class="radio" type="radio" id="graphic-element" name="elements" value="graphic_element"
                            <%= config.elements === "graphic_element" ? "checked" : '' %>>
                        <label class="radio-label" for="graphic-element">Elemento gráfico</label>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Localização</label>
                    <div class="value" id="location">
                        <input class="radio" type="radio" id="interior" name="location" value="interior"
                            <%= config.location === "interior" ? "checked" : '' %>>
                        <label class="radio-label" for="interior">Interior</label>
                        <input class="radio" type="radio" id="exterior" name="location" value="exterior"
                            <%= config.location === "exterior" ? "checked" : '' %>>
                        <label class="radio-label" for="exterior">Exterior</label>
                    </div>
                </div>
                <div class="buttons-container">
                    <button type="submit" class="button">Submeter</span>
                </div>
            </form>
            <div class="footer">
                <div class="version">
                    Versão <%= info.version %>
                </div>
            </div>
        </div>
    </body>
</html>