<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body class="<%= theme %>" data-theme="<%= theme %>">
        <div class="header">
            <div class="buttons-left">
                <a class="button button-small button-back" href="/">←</a>
            </div>
            <div class="buttons-right">
                <a class="button button-receipt"
                   data-url="<%= conf.PRINT_URL %>"
                   data-node="<%= conf.PRINT_NODE %>"
                   data-printer="<%= conf.PRINT_PRINTER %>"
                   data-key="<%= conf.PRINT_KEY %>"
                   data-locale="<%= locale %>">Recibo</a>
            </div>
            <% if (theme === "ldj") { %>
                <img class="logo" src="/static/images/logo.svg" />
            <% } else { %>
                <span class="logo"></span>
            <% } %>
        </div>
        <div class="report">
            <div class="form form-report">
                <div class="logo-container">
                    <% if (theme === "ldj") { %>
                        <img class="logo" src="/static/images/logo.svg" />
                    <% } else { %>
                        <span class="logo">Relatório</span>
                    <% } %>
                </div>
                <div class="field">
                    <label class="name">Data</label>
                    <div class="value">
                        <span class="text"><%= lib.dateTimeString() || "-" %></span>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Responsável</label>
                    <div class="value">
                        <span class="text"><%= config.responsible || "-" %></span>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Nr. Encomenda</label>
                    <div class="value">
                        <span class="text"><%= config.orderno || "-" %></span>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Tamanho</label>
                    <div class="value">
                        <span class="text"><%= config.size || "-" %></span>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Observações</label>
                    <div class="value">
                        <span class="text"><%= config.observations || "-" %></span>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Tecnologia</label>
                    <div class="value">
                        <span class="text"><%= localize(config.technology || "-") %></span>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Elementos</label>
                    <div class="value">
                        <span class="text"><%= localize(config.elements || "-") %></span>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Localização</label>
                    <div class="value">
                        <span class="text"><%= localize(config.location || "-") %></span>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Fonte</label>
                    <div class="value">
                        <span class="text"><%= font || "-" %></span>
                    </div>
                </div>
                <% if (text) { %>
                    <div class="field">
                        <label class="name">Texto</label>
                        <div class="value">
                            <span class="text">
                                <% text.forEach(function(item){ %><span class="item" style="font-family: '<%= item[0] %>'"><%- item[1] === " " ? "&nbsp;" : item[1] %></span><% }); %>
                            </span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
