<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body class="<%= theme %>" data-theme="<%= theme %>">
        <div class="header">
            <div class="buttons-left">
                <a class="button button-small button-back" href="/">←</a>
            </div>
            <div class="buttons-right">
                <a class="button button-receipt"
                   data-url="<%= conf.PRINT_URL %>"
                   data-node="<%= conf.PRINT_NODE %>"
                   data-printer="<%= conf.PRINT_PRINTER %>"
                   data-key="<%= conf.PRINT_KEY %>">Recibo</a>
            </div>
            <% if (theme === "ldj") { %>
                <img class="logo" src="/static/images/logo.svg" />
            <% } else { %>
                <span class="logo"></span>
            <% } %>
        </div>        
        <div class="report">
            <div class="pairs">
                <div class="pair">
                    <span class="key">Data</span>
                    <span class="value"><%= new Date() || "-" %></span>
                </div>
                <div class="pair">
                    <span class="key">Responsável</span>
                    <span class="value"><%= config.responsible || "-" %></span>
                </div>
                <div class="pair">
                    <span class="key">Tecnologia</span>
                    <span class="value"><%= config.technology || "-" %></span>
                </div>
                <div class="pair">
                    <span class="key">Elementos</span>
                    <span class="value"><%= config.elements || "-" %></span>
                </div>
                <div class="pair">
                    <span class="key">Localização</span>
                    <span class="value"><%= config.location || "-" %></span>
                </div>
                <% if (text) { %>
                    <div class="pair">
                        <span class="key">Texto</span>
                        <span class="value">
                            <% text.forEach(function(item){ %>
                                <span class="item" style="font-family: <%= item[0] %>"><%- item[1] === " " ? "&nbsp;" : item[1] %></span>
                            <% }); %>
                        <span>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
