
<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body class="<%= theme %>" data-theme="<%= theme %>">
        <div class="header">
            <div class="buttons-left">
                <a class="button button-small button-back" href="/">←</a>
                <span class="button button-clear">Clear</span>
            </div>
            <div class="buttons-right">
                <a class="button button-report" href="/report" data-href="/report">Report</a>
            </div>
            <% if (theme === "ldj") { %>
                <img class="logo" src="/static/images/logo.svg" />
            <% } else { %>
                <span class="logo"></span>
            <% } %>
        </div>
        <div class="viewport">
            <div class="main-container">
                <div class="viewer-container" data-text="<%= config.text %>">
                    <% if (text) { %>
                        <% text.forEach(function(item){ %>
                            <span style="font-family: '<%= item[0] %>'"><%- item[1] === " " ? "&nbsp;" : item[1] %></span>
                        <% }); %>
                    <% } %>
                    <span class="caret">|</span>
                </div>
                <div class="fonts-container">
                    <div class="font" data-font="Helvetica 1L" style="font-family: 'Helvetica 1L';">Helvetica 1L</div>
                    <div class="font" data-font="Helvetica 4L" style="font-family: 'Helvetica 4L';">Helvetica 4L</div>
                    <div class="font" data-font="Roman 4L" style="font-family: 'Roman 4L';">Roman 4L</div>
                    <div class="font" data-font="Script 4L" style="font-family: 'Script 4L';">Script 4L</div>
                    <div class="font" data-font="Script 412 1L" style="font-family: 'Script Round 412 1L';">Script 412 1L</div>
                    <div class="font" data-font="Script Round 1L" style="font-family: 'Script Round 1L';">Script Round 1L</div>
                    <div class="font" data-font="Cool Emojis" style="font-family: 'Helvetica';">Cool Emojis</div>
                </div>
                <div class="keyboard-container">
                    <span class="char">A</span>
                    <span class="char">B</span>
                    <span class="char">C</span>
                    <span class="char">D</span>
                    <span class="char">E</span>
                    <span class="char">F</span>
                    <span class="char">G</span>
                    <span class="char">H</span>
                    <span class="char">I</span>
                    <span class="char">J</span>
                    <span class="char">K</span>
                    <span class="char">L</span>
                    <span class="char">M</span>
                    <span class="char">N</span>
                    <span class="char">O</span>
                    <span class="char">P</span>
                    <span class="char">Q</span>
                    <span class="char">R</span>
                    <span class="char">S</span>
                    <span class="char">T</span>
                    <span class="char">U</span>
                    <span class="char">V</span>
                    <span class="char">W</span>
                    <span class="char">X</span>
                    <span class="char">Y</span>
                    <span class="char">Z</span>
                    <span class="char">0</span>
                    <span class="char">1</span>
                    <span class="char">2</span>
                    <span class="char">3</span>
                    <span class="char">4</span>
                    <span class="char">5</span>
                    <span class="char">6</span>
                    <span class="char">7</span>
                    <span class="char">8</span>
                    <span class="char">9</span>
                    <span class="char">!</span>
                    <span class="char">?</span>
                    <span class="char">:</span>
                    <span class="char">;</span>
                    <span class="char">(</span>
                    <span class="char">)</span>
                    <span class="char">/</span>
                    <span class="char">\</span>
                    <span class="char">$</span>
                    <span class="char">%</span>
                    <span class="char">&</span>
                    <span class="char">#</span>
                    <span class="char">+</span>
                    <span class="char">=</span>
                    <span class="char">'</span>
                    <span class="char">"</span>
                    <span class="char">*</span>
                    <span class="char">@</span>
                    <span class="char">~</span>
                    <span class="char">_</span>
                    <span class="char">´</span>
                    <span class="char">^</span>
                    <span class="char">`</span>
                    <span class="char" style="min-width: 66px;">⌫</span>
                    <span class="char" style="min-width: 96px;"">⎵</span>
                    <span class="char shift" style="min-width: 66px;">⇧</span>
                </div>
                <div class="emojis-container">
                    <span class="char">A</span>
                    <span class="char">B</span>
                    <span class="char">C</span>
                    <span class="char">D</span>
                    <span class="char">E</span>
                    <span class="char">F</span>
                    <span class="char">G</span>
                    <span class="char">H</span>
                    <span class="char">I</span>
                    <span class="char">J</span>
                    <span class="char">K</span>
                    <span class="char">L</span>
                    <span class="char">M</span>
                    <span class="char">N</span>
                    <span class="char">O</span>
                    <span class="char">P</span>
                    <span class="char">Q</span>
                    <span class="char">R</span>
                    <span class="char">S</span>
                    <span class="char">T</span>
                    <span class="char">U</span>
                    <span class="char">V</span>
                    <span class="char">W</span>
                    <span class="char">X</span>
                    <span class="char">Y</span>
                    <span class="char">Z</span>
                    <span class="char">a</span>
                    <span class="char">b</span>
                    <span class="char">c</span>
                    <span class="char">d</span>
                    <span class="char">e</span>
                    <span class="char">f</span>
                    <span class="char">g</span>
                    <span class="char">h</span>
                    <span class="char">i</span>
                    <span class="char">j</span>
                    <span class="char">k</span>
                    <span class="char">l</span>
                    <span class="char">m</span>
                    <span class="char">n</span>
                    <span class="char">o</span>
                    <span class="char">p</span>
                    <span class="char">q</span>
                    <span class="char">r</span>
                    <span class="char">s</span>
                    <span class="char">t</span>
                    <span class="char" style="min-width: 66px;">⌫</span>
                    <span class="char" style="min-width: 96px;"">⎵</span>
                </div>
            </div>
        </div>
    </body>
</html>
