
<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body class="<%= theme %>" data-theme="<%= theme %>" data-master="<%= masterb64 %>">
        <div class="header">
            <div class="buttons-left">
                <a class="button button-small button-back" href="/">←</a>
                <span class="button button-clear">Clear</span>
            </div>
            <div class="buttons-right">
                <a class="button button-report" href="/report" data-href="/report">Report</a>
            </div>
            <% if (theme === "ldj") { %>
                <img class="logo" src="/static/images/logo.svg" />
            <% } else { %>
                <span class="logo"></span>
            <% } %>
        </div>
        <div class="viewport">
            <div class="main-container">
                <div class="viewer-container" data-text="<%= config.text %>">
                    <% if (text) { %>
                        <% text.forEach(function(item){ %>
                            <span style="font-family: '<%= item[0] %>'"><%- item[1] === " " ? "&nbsp;" : item[1] %></span>
                        <% }); %>
                    <% } %>
                    <span class="caret">|</span>
                </div>
                <div class="fonts-container">
                    <% if (!options.fonts || options.fonts.includes("helvetica1l")) { %>
                        <div class="font" data-font="Helvetica 1L" style="font-family: 'Helvetica 1L';">Helvetica 1L</div>
                    <% } %>
                    <% if (!options.fonts || options.fonts.includes("helvetica4l")) { %>
                        <div class="font" data-font="Helvetica 4L" style="font-family: 'Helvetica 4L';">Helvetica 4L</div>
                    <% } %>
                    <% if (!options.fonts || options.fonts.includes("roman4l")) { %>
                        <div class="font" data-font="Roman 4L" style="font-family: 'Roman 4L';">Roman 4L</div>
                    <% } %>
                    <% if (!options.fonts || options.fonts.includes("script4l")) { %>
                        <div class="font" data-font="Script 4L" style="font-family: 'Script 4L';">Script 4L</div>
                    <% } %>
                    <% if (!options.fonts || options.fonts.includes("script4121l")) { %>
                        <div class="font" data-font="Script 412 1L" style="font-family: 'Script 412 1L';">Script 412 1L</div>
                    <% } %>
                    <% if (!options.fonts || options.fonts.includes("scriptround1l")) { %>
                        <div class="font" data-font="Script Round 1L" style="font-family: 'Script Round 1L';">Script Round 1L</div>
                    <% } %>
                    <% if (!options.fonts || options.fonts.includes("coolemojis")) { %>
                        <div class="font" data-font="Cool Emojis" style="font-family: 'Helvetica';">Cool Emojis</div>
                    <% } %>
                    <% if (!options.fonts || options.fonts.includes("coolemojisp")) { %>
                        <div class="font" data-font="Cool Emojis Pantograph" style="font-family: 'Helvetica';">Cool Emojis</div>
                    <% } %>
                </div>
                <div class="keyboard-container">
                    <span class="char" data-value="A">A</span>
                    <span class="char" data-value="B">B</span>
                    <span class="char" data-value="C">C</span>
                    <span class="char" data-value="D">D</span>
                    <span class="char" data-value="E">E</span>
                    <span class="char" data-value="F">F</span>
                    <span class="char" data-value="G">G</span>
                    <span class="char" data-value="H">H</span>
                    <span class="char" data-value="I">I</span>
                    <span class="char" data-value="J">J</span>
                    <span class="char" data-value="K">K</span>
                    <span class="char" data-value="L">L</span>
                    <span class="char" data-value="M">M</span>
                    <span class="char" data-value="N">N</span>
                    <span class="char" data-value="O">O</span>
                    <span class="char" data-value="P">P</span>
                    <span class="char" data-value="Q">Q</span>
                    <span class="char" data-value="R">R</span>
                    <span class="char" data-value="S">S</span>
                    <span class="char" data-value="T">T</span>
                    <span class="char" data-value="U">U</span>
                    <span class="char" data-value="V">V</span>
                    <span class="char" data-value="W">W</span>
                    <span class="char" data-value="X">X</span>
                    <span class="char" data-value="Y">Y</span>
                    <span class="char" data-value="Z">Z</span>
                    <span class="char" data-value="0">0</span>
                    <span class="char" data-value="1">1</span>
                    <span class="char" data-value="2">2</span>
                    <span class="char" data-value="3">3</span>
                    <span class="char" data-value="4">4</span>
                    <span class="char" data-value="5">5</span>
                    <span class="char" data-value="6">6</span>
                    <span class="char" data-value="7">7</span>
                    <span class="char" data-value="8">8</span>
                    <span class="char" data-value="9">9</span>
                    <span class="char" data-value=".">.</span>
                    <span class="char" data-value="-">-</span>
                    <span class="char" data-value="!">!</span>
                    <span class="char" data-value="?">?</span>
                    <span class="char" data-value=":">:</span>
                    <span class="char" data-value=";">;</span>
                    <span class="char" data-value="(">(</span>
                    <span class="char" data-value=")">)</span>
                    <span class="char" data-value="/">/</span>
                    <span class="char" data-value="\">\</span>
                    <span class="char" data-value="$">$</span>
                    <span class="char" data-value="%">%</span>
                    <span class="char" data-value="&">&</span>
                    <span class="char" data-value="#">#</span>
                    <span class="char" data-value="+">+</span>
                    <span class="char" data-value="=">=</span>
                    <span class="char" data-value="'">'</span>
                    <span class="char" data-value=""">"</span>
                    <span class="char" data-value="*">*</span>
                    <span class="char" data-value="@">@</span>
                    <span class="char" data-value="~">~</span>
                    <span class="char" data-value="_">_</span>
                    <span class="char" data-value="´">´</span>
                    <span class="char" data-value="^">^</span>
                    <span class="char" data-value="`">`</span>
                    <span class="char" style="min-width: 66px;">⌫</span>
                    <span class="char" style="min-width: 96px;"">⎵</span>
                    <span class="char shift" style="min-width: 66px;">⇧</span>
                </div>
                <div class="emojis-container">
                    <span class="char" data-value="A">A</span>
                    <span class="char" data-value="B">B</span>
                    <span class="char" data-value="C">C</span>
                    <span class="char" data-value="D">D</span>
                    <span class="char" data-value="E">E</span>
                    <span class="char" data-value="F">F</span>
                    <span class="char" data-value="G">G</span>
                    <span class="char" data-value="H">H</span>
                    <span class="char" data-value="I">I</span>
                    <span class="char" data-value="J">J</span>
                    <span class="char" data-value="K">K</span>
                    <span class="char" data-value="L">L</span>
                    <span class="char" data-value="M">M</span>
                    <span class="char" data-value="N">N</span>
                    <span class="char" data-value="O">O</span>
                    <span class="char" data-value="P">P</span>
                    <span class="char" data-value="Q">Q</span>
                    <span class="char" data-value="R">R</span>
                    <span class="char" data-value="S">S</span>
                    <span class="char" data-value="T">T</span>
                    <span class="char" data-value="U">U</span>
                    <span class="char" data-value="V">V</span>
                    <span class="char" data-value="W">W</span>
                    <span class="char" data-value="X">X</span>
                    <span class="char" data-value="Y">Y</span>
                    <span class="char" data-value="Z">Z</span>
                    <span class="char" data-value="a">a</span>
                    <span class="char" data-value="b">b</span>
                    <span class="char" data-value="c">c</span>
                    <span class="char" data-value="d">d</span>
                    <span class="char" data-value="e">e</span>
                    <span class="char" data-value="f">f</span>
                    <span class="char" data-value="g">g</span>
                    <span class="char" data-value="h">h</span>
                    <span class="char" data-value="i">i</span>
                    <span class="char" data-value="j">j</span>
                    <span class="char" data-value="k">k</span>
                    <span class="char" data-value="l">l</span>
                    <span class="char" data-value="m">m</span>
                    <span class="char" data-value="n">n</span>
                    <span class="char" data-value="o">o</span>
                    <span class="char" data-value="p">p</span>
                    <span class="char" data-value="q">q</span>
                    <span class="char" data-value="r">r</span>
                    <span class="char" data-value="s">s</span>
                    <span class="char" data-value="t">t</span>
                    <span class="char" data-value="u">u</span>
                    <span class="char" data-value="v">v</span>
                    <span class="char" data-value="w">w</span>
                    <span class="char" data-value="x">x</span>
                    <span class="char" data-value="y">y</span>
                    <span class="char" data-value="z">z</span>
                    <span class="char" data-value=",">,</span>
                    <span class="char" data-value="1">1</span>
                    <span class="char" data-value="2">2</span>
                    <span class="char" data-value="3">3</span>
                    <span class="char" data-value="4">4</span>
                    <span class="char" data-value="5">5</span>
                    <span class="char" data-value="6">6</span>
                    <span class="char" data-value="7">7</span>
                    <span class="char" data-value="8">8</span>
                    <span class="char" data-value="9">9</span>
                    <span class="char" data-value="-">-</span>
                    <span class="char" data-value="+">+</span>
                    <span class="char" data-value="*">*</span>
                    <span class="char" data-value="^">^</span>
                    <span class="char" data-value="˜">˜</span>
                    <span class="char" data-value="/">/</span>
                    <span class="char" style="min-width: 66px;">⌫</span>
                    <span class="char" style="min-width: 96px;"">⎵</span>
                </div>
                <div class="emojisp-container">
                    <span class="char" data-value="A">A</span>
                    <span class="char" data-value="B">B</span>
                    <span class="char" data-value="C">C</span>
                    <span class="char" data-value="D">D</span>
                    <span class="char" data-value="E">E</span>
                    <span class="char" data-value="F">F</span>
                    <span class="char" data-value="G">G</span>
                    <span class="char" data-value="H">H</span>
                    <span class="char" data-value="I">I</span>
                    <span class="char" data-value="J">J</span>
                    <span class="char" data-value="K">K</span>
                    <span class="char" data-value="L">L</span>
                    <span class="char" data-value="M">M</span>
                    <span class="char" data-value="N">N</span>
                    <span class="char" data-value="O">O</span>
                    <span class="char" data-value="P">P</span>
                    <span class="char" data-value="Q">Q</span>
                    <span class="char" data-value="R">R</span>
                    <span class="char" data-value="S">S</span>
                    <span class="char" data-value="T">T</span>
                    <span class="char" data-value="U">U</span>
                    <span class="char" data-value="V">V</span>
                    <span class="char" data-value="W">W</span>
                    <span class="char" data-value="X">X</span>
                    <span class="char" data-value="Y">Y</span>
                    <span class="char" data-value="Z">Z</span>
                    <span class="char" data-value="a">a</span>
                    <span class="char" data-value="b">b</span>
                    <span class="char" data-value="c">c</span>
                    <span class="char" data-value="d">d</span>
                    <span class="char" data-value="e">e</span>
                    <span class="char" data-value="f">f</span>
                    <span class="char" data-value="g">g</span>
                    <span class="char" data-value="h">h</span>
                    <span class="char" data-value="i">i</span>
                    <span class="char" data-value="j">j</span>
                    <span class="char" data-value="k">k</span>
                    <span class="char" data-value="l">l</span>
                    <span class="char" data-value="m">m</span>
                    <span class="char" data-value="n">n</span>
                    <span class="char" data-value="o">o</span>
                    <span class="char" data-value="p">p</span>
                    <span class="char" data-value="q">q</span>
                    <span class="char" data-value="r">r</span>
                    <span class="char" data-value="s">s</span>
                    <span class="char" data-value="t">t</span>
                    <span class="char" data-value="u">u</span>
                    <span class="char" data-value="v">v</span>
                    <span class="char" data-value="w">w</span>
                    <span class="char" data-value="x">x</span>
                    <span class="char" data-value="y">y</span>
                    <span class="char" style="min-width: 66px;">⌫</span>
                    <span class="char" style="min-width: 96px;"">⎵</span>
                </div>
            </div>
        </div>
    </body>
</html>
